:root {
    color-scheme: light;
    --background-colour: #ffffff;
    --background-colour-secondary: #f0f0f0;
    --background-colour-tertiary: #e0e0e0;
}
.dark {
    color-scheme: dark;
    --background-colour: #1b1a21;
    --background-colour-secondary: #2c2b33;
    --background-colour-tertiary: #3c3b43;
}

* {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

strong {
    font-weight: 900;
}

body {
    margin: 0;
    padding: 20px;
}

label {
    margin-right: 10px;
    font-weight: bold;
}

select {
    padding: 5px;
    min-width: 150px;
}