---
import "../styles/main.css";
import Submit from "../components/submit.svelte";
import Settings from "../components/settings.svelte";
import Transcriptome from "../components/transcriptome.svelte";
import StrainComparer from "../components/strainComparer.svelte";
import SelectedEvent from "../components/selectedEvent.svelte";
import Tooltip from "../components/tooltip.svelte";
---

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
		<title>Alternative Splicing Visualizer</title>
		<script>
			let root = document.querySelector(":root")!;
			let button = document.getElementById("dark-mode-toggle")!;
			if (localStorage.getItem("dark-mode") === "true")
				root.classList.add("dark");
			else
				root.classList.remove("dark");
			button.addEventListener('click', () => {
				if (root.classList.contains("dark")) {
					localStorage.setItem("dark-mode", "false");
					root.classList.remove("dark");
				} else {
					localStorage.setItem("dark-mode", "true");
					root.classList.add("dark");
				}
			});
		</script>
	</head>
	<body>
		<h1>ASV | <a href="https://github.com/VINXIS/ASV">GitHub</a></h1>
		<h2>Alternative Splicing Visualizer</h2>
		<button class="button" id="dark-mode-toggle">Toggle Dark Mode</button>
		<Submit client:only="svelte" />
		<Settings client:only="svelte" />
		<Transcriptome client:only="svelte" />
		<StrainComparer client:only="svelte" />
		<SelectedEvent client:only="svelte" />
		<Tooltip client:only="svelte" />
	</body>
</html>
